<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet"
          href="webjars/bootstrap/4.5.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<div class="container">
    <h3>Список авторизованных пользователей</h3>

    <hr/>
    <a th:href="@{/register}" class="btn btn-primary">Добавить клиента</a>
    <br/><br/>
    <table class="table table-bordered table-striped" id="myTable" border="3">
        <tr>
            <th>FIRST_NAME</th>
            <th>LAST_NAME</th>
            <th>MARKS</th>
            <th>MODELS</th>
            <th>TEL NUMBER</th>
        </tr>
        <tr th:each="authUser : ${users}">
            <td th:text="${authUser.user.firstName}"></td>
            <td th:text="${authUser.user.lastName}"></td>
            <td th:text="${authUser.models.mark.name}"></td>
            <td th:text="${authUser.models.name}"></td>
            <td th:text="${authUser.user.telNumber}"></td>
        </tr>
    </table>
    <br>
    <form th:action="@{/mainPage-admin}" method="post">
        <input type="submit" value="Return Main Page" class="btn btn-primary btn-lg">
    </form>
</div>
</body>
</html>
